body{
    color: #f974a6;
    /* background-color: #f7cdd0; */
    
}

.display-2-fluid{
    font-family: 'Roca';
    font-size: 4rem;
    text-transform: uppercase;
}

@font-face {
    font-family: "Roca";
    src: url("Roca-Font/Roca\ Black.ttf");
    }

a{
    text-decoration: none;
    color: #f974a6;
}

a:hover{
    color: #f974a6;
}

.nav-link{
	font-size: 1.25rem;
	color: #f974a6;
    font-family: 'Roca';
}

.nav-link:hover{
	font-weight: bold;
}

h5{
    font-family: 'Open Sans';
    font-size: 2rem;
}

#modal-title{
    font-family: 'Roca';
    font-style: italic;
}

p{
    font-family: 'Open Sans';
}

.card-img-top{
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    filter: grayscale(100%);
    
}

.card{
    border-radius: 0%;
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    filter: drop-shadow( 5px 5px 5px rgb(46, 46, 46));
}