body{
    background-color:#ffdfeb;
}
#map {
    height: 100%;
    aspect-ratio: 2/1;
}
.display-2-fluid{
    font-family: 'Roca';
    font-size: 4rem;
    color: #f974a6;
    text-transform: uppercase;
    
}

@font-face {
    font-family: "Roca";
    src: url("Roca-Font/Roca\ Black.ttf");
}

.nav-link{
    font-family: 'Roca';
    font-size: 1.25rem;
}
.nav-link:hover{
	font-weight: bold;
}
h3{
    font-family: 'Roca';
    color: #f974a6;

}
p{
    font-family: 'Open Sans';
    font-style: italic;
    color: #f974a6;
}