body{
    background-color: #ffdfeb;
}

@font-face {
    font-family: "Roca";
    src: url("Roca-Font/Roca\ Black.ttf");
    }

.display-2-fluid{
    font-family: 'Roca';
    color: #f974a6;
    font-size: 4rem;
    text-transform: uppercase;
}

.nav-link{
    font-family: 'Roca';
    font-size: 1.25rem;
}
.nav-link:hover{
	font-weight: bold;
}

.card{
    background-color: #ffffff;
    font-family: 'Open Sans';
    color: #f974a6;
    
}

a{
    text-decoration: none;
}
p{
    font-family: 'Open Sans';
    color: #f974a6;
    font-size: 1.5rem;
    font-style: italic;
}